:root {
  --bs-body-font-family: 'JetBrains Mono', monospace;
  --bs-font-sans-serif: 'JetBrains Mono', monospace;
}

body,
h1, h2, h3, h4, h5, h6,
.sidebar, .topbar, 
#core-wrapper {
  font-family: 'JetBrains Mono', monospace !important;
}